* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
}

.app {
    background-color: #DD4A48;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.controller {
    display: flex;
    align-items: center;
}

.controller > h1 {
    margin: 0 30px;
    font-size: 3rem;
}

.controller > p {
    cursor: pointer;
    font-size: 15.5rem;
} 

.counter-value {
    font-size: 6rem;
    margin-bottom: -5rem;
}